<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('images/favicon.png') }}">
        <title>Bucket-list</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascript %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </head>
    <body>
        <header>
            <div class="enTete">
                <a href="{{ path('main_index') }}"><img src="{{ asset('images/logo.png') }}" alt="logo du site" id="imgLogo"></a>
                <h1>Bucket-list</h1>
            </div>
            <nav>
                <ul>
                    {% if app.user %}
                        <li>{{ app.user.pseudo }}</li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                    {% if not app.user %}
                        <li><a href="{{ path('app_login') }}">Log in</a></li>
                        <li><a href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ path('main_index') }}">Home</a></li>
                    <li><a href="{{ path('wish_list') }}">All wishes</a></li>
                    <li><a href="{{ path('main_about_us') }}">About us</a></li>
                </ul>
            </nav>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>&copy;Bucket-list - {{ 'now' |date('Y') }}</p>
        </footer>
    </body>
</html>
