<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('images/favicon.png') }}">
        <title>Bucket-list</title>

    </head>
    <body>
        <header>
            <div class="enTete">
                <img src="{{ asset('images/logo.png') }}" alt="logo du site" id="imgLogo">
                <h1>Bucket-list</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('main_index') }}">Home</a></li>
                    <li><a href="{{ path('wish_list') }}">All wishes</a></li>
                    <li><a href="{{ path('main_about_us') }}">About us</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}


        </main>
        <footer>
            <p>&copy;Bucket-list - {{ 'now' |date('Y') }}</p>
        </footer>
    </body>
</html>
